# Version control
.git
.gitignore
.gitattributes
.github

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Build artifacts
.next
out
build
dist
coverage
storybook-static

# Environment and local files
.env*
.DS_Store
*.pem
.vscode
.idea

# Temporary files
.temp
.tmp
.turbo
.cache

# Logs
logs
*.log

# Test files
**/__tests__
**/*.test.*
**/*.spec.*

# Documentation
README.md
*.md
docs

# Docker
Dockerfile*
docker-compose*
